###############################
#Git Ignore file for Eagle Eye#
###############################

# Build Files
#############
*.o
*.d

# Library Files
###############
*.a
*.so

# SVN Files
###########
*.svn
